<% @page_title = "Topページ" %>
<title><%= @page_title %></title>

<div id=python class=program>
    <h3>Python</h3>
    <ul>
        <li>SIGNATE コンペティション ？？位/??位中</li>
        <li>paiza ランク8</li>
        <li>codewars 6 kyu</li>
    </ul>
</div>
<div id=SAS class=program>
    <h3>SAS</h3>
    <ul>
        <li>SAS Base Programmer</li>
        <li>NetFlixデータ分析ポートフォリオ作成</li>    
    </ul>
</div>
<div id=SQL class=program>
    <h3>SQL</h3>
    <ul>
        <li>達人から学ぶSQL</li>
        <li>SQLポートフォリオ作成</li>
    </ul>
</div>