<% @page_title = "Topページ" %>
<title><%= @page_title %></title>

<img src="/assets/top_image.jpg" alt="釣りの写真" width=550 height=403 id="top_img">
<div id="block">
    <div class="top_list">
        <p>
            Python <br>
            コーディング練習の末、基礎文法をマスターしています。<br>
            データ分析、Pandas Dataframeの扱い、matplotlibなどを <br>
            扱いデータの抽出、加工、集計が行えます。
        </p>
    </div>
    <div class="top_list">
        <p>
            SAS と SQL <br>
            データの扱い、加工、集計、抽出などデータベース基盤の作成が行えます。
        </p>
    </div>
</div>


