<% @page_title = "Topページ" %>
<title><%= @page_title %></title>

<h3>できること（題名）</h3>

<div id=container>
    <p>(内容)<br>Pythonでコーディング練習の末、基礎文法をマスター</p>
    <p>→データ分析、Pandas Dataframeの扱い、matplotlibなど<br>を扱いデータの抽出、加工、集計が行える</p>
    <p>
    SAS、 SQLでデータの扱い、加工、集計、抽出などデータベース基盤の作成が行える
    </p>
</div>


