<% @page_title = "career" %>

<h3>保有スキル</h3>
<div id="block">
    <div class="careers_list">
        <h4>経歴</h4>
        <ul>
            <li>
                2014.4 ~ 2018.3 <br>
                東京理科大学理工学部情報科学科 卒業
                 
            </li>
            <li>
                2018.4 ~ 2019.6 <br>
                日本アイ・ビー・エムソリューション・サービス株式会社 <br>
                にて、金融インフラエンジニアとしてホストシステムの運用保守やホストRPAツール開発など経験

            </li>
            <li>
                2019.10 ~ 2019.11 <br>
                株式会社iforward <br>
                にて、Webアプリプログラマーの派遣として動画コンテンツサービスのサイト開発、DB設計を経験
            </li>
            <li>
                2020.1 ~ 2021.3 <br>
                サンブリッジソリューションズ株式会社 <br>
                にて、データサイエンティストとして電力事業会社のデータ集計、銀行の業務データ加工、情報系システムへアップロード、疫学研究データ作成や帳票作成などを経験
            </li>
        </ul>
    </div>
    <div class="careers_list">
        <p>
            2017.10	ITパスポート <br>
            2019.1	AWS Business Professional <br>
            2019.2	AWS Technical Professional <br>
            2019.2	IBM Design thinking Advocate <br>
            2020.2	SAS BASE Programmer	
        </p>	
    </div>
</div>