<% @page_title = "Certificates" %>

<h3>保有スキル</h3>
<div id="block">
    <div class="certificates_list">
        <p>Python　３年目</p>
        <ul>
            <li>
                SIGNATEコンペティション<br>
                練習問題　民博サービスの宿泊価格予測<br>
                178位/254位中<br>
                2021.01.02提出<br><br>
                第五回 Beginner限定コンペ アメリカの都市エイムズの住宅価格予測<br>
                298位/308位中<br>
                2021.01.05提出
            </li>
            <li>
                paiza Learningサイト<br>
                ランクB<br>
                想定年収　384万円
            </li>
            <li>
                codewards 6 kyu
            </li>
        </ul>
    </div>
    <div class="certificates_list">
        <p>SASS ２年目</p>
        <ul>
            <li>
                SAS Base Programmer資格保有<br>2020.2 取得
            </li>
            <li>
                NetFlixデータ分析ポートフォリオ作成<br>2020.3.10 作成
            </li>
        </ul>
    </div>
    <div class="certificates_list">
        <p>SQL １年目</p>
        <ul>
            <li>
                達人から学ぶSQL<br>2021.3.1 読了
            </li>
            <li>
               SQLポートフォリオ作成<br>2021.3.12~
            </li>
        </ul>
    </div>
</div>