* {
    margin:0; padding:0;
  }
  header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #337079;
    color: white;
  }
  header .headline{
      line-height: 100px;
      float: left;
      font-size: 30px;
      margin-left: 100px;
  }
  .nav-list {
      line-height: 100px;
      float: left;
      margin-left: 30px;
      list-style: none;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }

/* footer */
  footer{
      width: 100%;
      padding: 10px;
      background-color: #337079;
      
      position: absolute;
      bottom: 0;
  }

  footer div{
    display: inline-block;
    padding-left:20px;
  }

  #test {
      background-color: #dd5268;
  }
