* {
    margin:0; padding:0;
  }
  header {
    height: 100px;
    width: 100%;
    padding: 30px 0px 15px 0px;
    background-color: #337079;
    color: white;
  }
  header .headline{
      float: left;
       font-size: 30px;
      margin-left: 50px;
  }
  .nav-list {
      line-height: 100px;
      float: left;
      margin-left: 30px;
      list-style: none;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }

/* TOPのCSS */
.top_list{
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: black;
  border: solid;
}

#top_img{
  margin:30px;
  margin-left:60px;
}

/* CertificatesのCSS */
div#block {
  margin: 20px;
}

.certificates_list{
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-color: black;
  border: solid;
}

.certificates_list li {
  margin-bottom: 10px;
}

/* Careerのcss */

.careers_list{
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-color: black;
  border: solid;
}

.careers_list li {
  margin-bottom: 10px;
}

/* setbackのcss */
div#setback_block{
border-color: black;
border: solid;
padding:10px;
}

div#setback_block p{
  padding-top:20px;
  padding-bottom:20px;
}