* {
    margin:0; padding:0;
  }
  div header{
    background-color: #5B9BD5;
    height: 145px;
    min-width:800px;
  }

  header {
    height: 100px;
    width: 100%;
    color: white;
  }

  header .headline{
      float: left;
       font-size: 30px;
      margin-left: 50px;
      padding: 30px 0px 15px 0px;
  }
 
  #business_card{
    margin-left:50px;
  }

  footer{
    margin-top: auto;
    width: 100%;
    background-color: #5B9BD5;
    color: #fff;
    text-align: center;
    padding: 15px 0;

    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

#nav_list ul li{
  display:inline;
  margin:0px 20px
}

#main{
  padding-bottom: 54px;
}

#top{
  color: white;
  text-decoration: none;
}


/* TOPのCSS */
.top_list{
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: black;
  border: solid;
}

#top_img{
  margin:30px;
  margin-left:60px;
}

/* CertificatesのCSS */
div#block {
  margin: 20px;
}

.certificates_list{
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-color: black;
  border: solid;
}

.certificates_list li {
  margin-bottom: 10px;
}

/* Careerのcss */

.careers_list{
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-color: black;
  border: solid;
}

.careers_list li {
  margin-bottom: 10px;
}

/* setbackのcss */
div#setback_block{
border-color: black;
border: solid;
padding:10px;
}

div#setback_block p{
  padding-top:20px;
  padding-bottom:20px;
}

#insta_img{
  width : 50vw ;
}