<% @page_title = "episode1" %>

<p>episode1</p>
<p>Load bike
現在乗っているロードバイクはとてもちゃっちい安っぽい、けどデザインはかっこいいバイク。
大学生の時に、なけなしのバイトで買ってみました。
アニメの弱虫ペダルを見て、めちゃくちゃロードバイクにあこがれたんです。
高校のころは、神奈川県の公立高校に通っていたのですが、毎日の国道を通る一直線の帰りの自転車でストイックに足のトレーニングをしていたりし、時に車に乗っているヤンキーに笑われたりしてました笑

昔から自転車をこぐのがなぜか好きなんです。
歩くよりも早く、効率的だから、かもしれません。
ペダルを下に押すのと同時に足を上げるときもおなかの力をつかって引き揚げたりするとスピードが上がるなど、漕ぐだけにも技術はたくさん眠っていて、奥深いのです。

都内を駆け回るなら、ロードバイク！
共感できる方がいましたら、うれしいです。

どんなお話でも、お待ちしております。

ことりっぷTech　ゆうすけ
E-mail : trip.ysk.business@gmail.com
</p>
