
<ul>
    <li>ロードバイク => <%= link_to "episode1", "/hobby/episode1" %></li>
    <li>サッカー</li>
    <li>登山</li>
    <li>キャンプ</li>
    <li>ミニベロ</li>
    <li>大型バイク</li>
    <li>釣り</li>
</ul>

<p>ブログ挫折の経験</p>
<p>大学時代、プログラミングは避けてきた
社会人2年目、難しいプログラミングに直面しパニック障害になった
そして今、データサイエンティストとしてデータ分析に挑んでいる。
みなさんで一緒に、ITを盛り上げてゆきましょう。
～苦労人だけど、お客様の求める喜びを糧に！！✨～　ことりっぷTech ゆうすけ
</p>