<% @page_title = "Profile" %>

<p>大学　東京理科大学理工学部情報科学科卒業</p>
<ul>
    <li>日本アイ・ビー・エムソリューション・サービス株式会社<br>金融インフラエンジニアとしてホストシステムの運用保守やホストRPAツール開発など経験</li>

    <li>株式会社iforward　
　      Webアプリプログラマーの派遣として動画コンテンツサービスのサイト開発、DB設計を経験</li>
</ul>