<% @page_title = "setback" %>


<div id="block">
    <div id="setback_block">
        <u>ブログ挫折の経験</u>
        <p>
            大学時代、プログラミングは避けて生きてきました。<br>
            社会人2年目、難しいプログラミングに挫折しながらも自己学習により困難を乗り越えてきました。<br>
            そして今、データサイエンティストとしてデータ分析に挑んでおります。<br>
            みなさんで一緒に、ITを盛り上げてゆきましょう！
        </p>
        <strong>～苦労人だけど、お客様の求める喜びを糧に、価値を共創する未来を！！✨～　</strong>
    </div>
</div>
<img src="/assets/insta_name2.jpg" alt="インスタのQR" size=50% >
<br>
<img src="/assets/insta3.jpg" alt="インスタのQR" size=50% >
